<div data-cmd_id="#etatId#" style="margin-left:0px;margin-right:0px;text-align:center;">
	<div>
		<img class="modeIntegrated" id="setMode#id#" style="display:#displaySetModePopup#;cursor:pointer;height:30px;width:30px;" src="plugins/evohome/img/#etatImg#" />
		<div style="display:#etatUntilDisplay#;vertical-align:middle;">
			&nbsp;&nbsp;&nbsp;&nbsp;<img style="height:15px;width:15px;" src="plugins/evohome/img/#etatUntilImg#" />
			<span style="color:black;" title="#etatUntilFull#">&nbsp;#etatUntil#</span>
		</div>
	</div>
	<div style="display:#statDisplay#;margin-top:6px;">
		<span style="font-size:12px;color:black;">#statTitle#</span>
		<select id="statScope#id#" style="font-size:11px;color:black;">
			<option value="0" #statScope0#>#statScopeTitle0#</option>
			<option value="1" #statScope1#>#statScopeTitle1#</option>
			<option value="2" #statScope2#>#statScopeTitle2#</option>
			<option value="3" #statScope3#>#statScopeTitle3#</option>
		</select>
	</div>
	<span style="font-size:12px;color:black;">#scheduleTitle#</span><br/>
	<select id="scheduleList#id#" style="width:146px;font-size:11px;color:black;">#options#</select>
	<div style="height:2px;"></div>
	<a class="saveSchedule#id# btn btn-btn-sm" style="background-color:#evoCmdBackgroundColor#;border-color:transparent;
			line-height:8px;width:14px;padding-left:8px;padding-right:18px;padding-top:8px;padding-bottom:8px;"
			title="#title.save#">
		<span class="saveCaption#id# fa fa-circle" style="color:#evoSaveColor#;font-size:12px;" />
	</a>
	<a class="showCS showCurrentSchedule#id# btn btn-btn-sm" style="background-color:#evoCmdBackgroundColor#;border-color:transparent;
			line-height:8px;width:14px;padding-left:6px;padding-right:20px;padding-top:8px;padding-bottom:8px;"
			title="#title.showCurrent#">
		<span class="fa fxa-folder-open" style="font-size:12px;">Pc</span>
	</a>
	<a class="showCS showSavedSchedule#id# btn btn-btn-sm" style="background-color:#evoCmdBackgroundColor#;border-color:transparent;
			line-height:8px;width:14px;padding-left:6px;padding-right:20px;padding-top:8px;padding-bottom:8px;"
			title="#title.showSelected#">
		<span class="fa fxa-folder-open showSavedScheduleCaption#id#" style="font-size:12px;">Ps</span>
	</a>
	<a class="restoreSchedule#id# btn btn-btn-sm" style="background-color:#evoCmdBackgroundColor#;border-color:transparent;
			line-height:8px;width:14px;padding-left:7px;padding-right:19px;padding-top:8px;padding-bottom:8px;"
			title="#title.restore#">
		<span class="restaureCaption#id# glyphicon glyphicon-floppy-open" style="font-size:12px;"/>
	</a>
	<a class="removeSchedule#id# btn btn-btn-sm" style="background-color:#evoCmdBackgroundColor#;border-color:transparent;
			line-height:8px;width:14px;padding-left:5px;padding-right:21px;padding-top:8px;padding-bottom:8px;"
			title="#title.delete#">
		<span class="deleteCaption#id# glyphicon glyphicon-trash" style="font-size:12px;"/>
	</a>
	<br/>
</div>
<script>
var genConsoleId = #id#;
var lastFileId#id# = -1;
var isCurrent#id# = false;
initVarsCommon(#id#,'#evoBackgroundColor#','#evoCmdBackgroundColor#',#apiAvailable#,'#msgApiUnavailable#','#evoDefaultShowingScheduleMode#');
$('#setMode#id#').on('click', function() {
	if (!checkApiAvailable()) return;
	var dialog = bootbox.prompt({
		title: "#title.setMode#",
		value: '',
		callback: function () {}
	});
	dialog.init(function() {
		$('.bootbox-input-text').replaceWith(getModesTable(2)+'<br/>');
		$('.btn-primary').replaceWith('');
	});
});
function getModesTable(showType) {
	var pairs = [ [#codeAuto#, 'i_calendar', "#modeAuto#"],
				  [#codeEco#, 'i_economy', "#modeEco#"],
				  [#codeAway#, 'i_away', "#modeAway#"],
				  [#codeDayOff#, 'i_dayoff', "#modeDayOff#"],
				  [#codeCustom#, 'i_custom', "#modeCustom#"],
				  [#codeOff#, 'i_off', "#modeOff#"] ];
	var buttons = '<div style="height:4px;"></div><div style="text-align:-webkit-center;"><table width="90%"';
	if (showType == 1) buttons += ' style="background-color:' + (#apiAvailable# ? '#evoBackgroundColor#' : 'gray') + ';"';
	buttons += '><tr>';
	var _size = showType == 1 ? 24 : 36;
	for ( i=0 ; i<6 ; i++ ) {	// i == evohome::CODE_MODE_n
		buttons += '<td align="center" width="'+(100/6)+'%"';
		if (#etatCode# != pairs[i][0]) buttons += 'style="cursor:pointer;" onclick="setMode('+showType+','+pairs[i][0]+',\''+pairs[i][2]+'\');"';
		bgc = #etatCode# == pairs[i][0] ? 'green' : showType == 1 ? (#apiAvailable# ? "#evoBackgroundColor#" : 'gray') : 'lightgray';
		buttons += '><img style="height:'+_size+'px;width:'+_size+'px;background-color:'+bgc+';" src="plugins/evohome/img/'+pairs[i][1]+'.svg"';
		buttons += '/>';
		if (showType == 2) {
			buttons += '<br/><span style="';
			if (#etatCode# == pairs[i][0]) buttons += 'background-color:green;color:white;';
			buttons += '">&nbsp;'+pairs[i][2]+'&nbsp;</span>';
			}
		buttons += '</td>';
	}
	buttons += '</tr></table></div><div style="height:2px;"></div>';
	return buttons;
}
if ("#displaySetModeConsole#" == '1') {
	$('.modeIntegrated').replaceWith(getModesTable(1));
} else if (!#apiAvailable#) {
	$('.modeIntegrated').css('background-color','gray');
}
function setMode(showType,mode,name) {
	if (!#apiAvailable#) {
		myAlert("Fonction indisponible");
		return;
	}
	bootbox.confirm("#setModeConfirm#".replace('{0}', name), function (result) {
		if (result) {
			if (showType == 2) $('.btn-default[data-bb-handler="cancel"]').click();
			waitingMessage("#setModeInfoList#".replace('{0}',name));
			jeedom.cmd.execute({id:"#cmd_setmode_id#", notify:true, value:{#argCodeMode#:mode}});
		}
	});
}
$('.saveSchedule#id#').on('click', function() {
	if (!#isAdmin#) return;
	var selectedFileId = $('#scheduleList#id#').value();
	var dialog = bootbox.prompt({
		title: "#saveAs#",
		//inputType : 'textarea',
		value: selectedFileId == 0 ? '' : $('#scheduleList#id# option:selected').text(),
		callback: function (fileName) {
			if (fileName != null && fileName != '') {
				var updateFileId = 0;
				$("#scheduleList#id# option").each(function() {
					if (this.text == fileName) updateFileId = this.value;
				});
				var comm = $('#idComment').value();
				if (updateFileId != 0) {
					bootbox.confirm("#saveReplace#".replace('{0}',fileName), function(ret2) {
						if (ret2) save(fileName, comm, updateFileId);
					});
				} else {
					save(fileName, comm, 0);
				}
			}
		}
	});
	dialog.init(function() {
		if ($(".bootbox-input-text")[0].previousSibling != '<span>#saveName#</span>') {
			$('<span>#saveName#</span>').insertBefore(".bootbox-input-text");
			//bootbox-input bootbox-input-textarea form-control
			$('<br/><br/><span>#saveRemark#</span><br/><textarea style="height:80px;width:100%;" id="idComment" />').insertAfter(".bootbox-input-text");
		}
		if (selectedFileId > 0) loadCommentary(selectedFileId);
	});
	$('.bootbox-input-text').on('input', function() {
		var newFileName = this.value;
		$("#scheduleList#id# option").each(function() {
			if (this.text == newFileName) loadCommentary(this.value);
		});
	});
});
$('#statScope#id#').on('change', function() {
	$.ajax({
		type: 'POST',
		url: 'plugins/evohome/core/ajax/evohome.ajax.php',
		data: {
			action: 'setStatScope',
			statScope: $('#statScope#id#').value()
		},
		dataType: 'json',
		error: function (request, status, error) {
			handleAjaxError(request, status, error);
		}
	});
});
function loadCommentary(pFileId) {
	$.ajax({
		type:'POST',
		url:'plugins/evohome/core/ajax/evohome.ajax.php',
		data:{action:'getCommentary', fileId:pFileId},
		dataType:'json',
		error:function(request, status, error) {
			handleAjaxError(request, status, error);
		},
		success:function(data) {
			if (data.state != 'ok') {
				$('#div_alert').showAlert({message: data.result, level: 'danger'});
			} else if (data.result.comment != null) {
				$('#idComment').value(decodeURIComponent(data.result.comment));
			} else {
				$('#idComment').value('');
			}
		}
	});
 }
function save(fileName, comm, fileId) {
	waitingMessage("#saveInfoList#".replace('{0}',fileName));
	var eComm = encodeURIComponent(comm);
	jeedom.cmd.execute({id:"#cmd_save_id#", notify:false, value:{#argFileId#:fileId, #argFileName#:fileName, #argFileRem#:eComm}});
}
$('.showCurrentSchedule#id#').off().on('click', function () {
	// show current schedule (from InfoAllZones)
	if (lastFileId#id# != 0) showScheduleCO('C',0);
	else $('#md_modal').dialog('close');
});
$('.showSavedSchedule#id#').off().on('click', function () {
	var fileId = $('#scheduleList#id#').value();
	if (fileId != 0) {
		// show saved schedule (from saved file)
		if (lastFileId#id# != fileId) showScheduleCO('S',fileId);
		else $('#md_modal').dialog('close');
	}
});
function showScheduleCO(type,fileId, mode) {
	__generalLastMode = mode == null ? __generalLastMode : mode;
	$('#md_modal').dialog('close');
	$('#md_modal').dialog({
		title: "",
		height: jQuery(window).height() - (fileId == 0 ? 60 : 104),
		width: (__generalLastMode == "#showHorizontal#" ? Math.min(1000,jQuery(window).width()-16) : 700),
		position: { my: "center bottom-"+(fileId == 0 ? "4" : "48"), at: "center bottom", of: window }});
	$('#md_modal').load('index.php?v=d&plugin=evohome&modal=schedule'+__generalLastMode+'&id=#id#&#argZoneId#=0&#argFileId#='+fileId+'&mode='+__generalLastMode+'&typeSchedule='+type).dialog('open');
	$(fileId == 0 ? '.showCurrentSchedule#id#' : '.showSavedSchedule#id#').css("background-color", "rgb(16, 208, 16)");
	lastFileId#id# = fileId;
}
$('#md_modal').on('dialogclose', function () { lastFileId#id# = -1; });
$('#scheduleList#id#').on('change', function() { checkActions(); });
function checkActions() {
	var fileIdSelected = $('#scheduleList#id#').value();
	isCurrent#id# = "#scheduleFileId#" == fileIdSelected;
	if (fileIdSelected == 0) $('#scheduleList#id#').prop('disabled', 'disabled');
	$('.showSavedScheduleCaption#id#').css('color', fileIdSelected == 0 ? 'gray' : 'white');
	if (!#isAdmin#) $('.saveCaption#id#').css('color', 'gray');
	$('.restaureCaption#id#').css('color', (isCurrent#id# && '#canRestoreCurrent#' == '0') || !#isAdmin# || !#apiAvailable# ? 'gray' : 'white');
	$('.deleteCaption#id#').css('color', isCurrent#id# || !#isAdmin# ? 'gray' : 'white');
}
checkActions();
$('.restoreSchedule#id#').on('click', function() {
	if ( (!isCurrent#id# || '#canRestoreCurrent#' == '1') && #isAdmin# ) {
		if (!#apiAvailable#) {
			myAlert("Fonction indisponible");
			return;
		}
		var sl = document.getElementById('scheduleList#id#');
		bootbox.confirm("#restoreConfirm#".replace('{0}', sl.options[sl.selectedIndex].text), function (result) {
			if (result) {
				var fileId = $('#scheduleList#id#').value();
				var fileId = $('#scheduleList#id#').value();
				waitingMessage("#restoreInfoList#".replace('{0}',sl.options[sl.selectedIndex].text));
				jeedom.cmd.execute({id:"#cmd_restore_id#", notify:true, value:{#argFileId# :fileId}});
			}
		});
	}
});
$('.removeSchedule#id#').on('click', function() {
	if ( !isCurrent#id# && #isAdmin# ) {
		var sl = document.getElementById('scheduleList#id#');
		bootbox.confirm("#deleteConfirm#".replace('{0}', sl.options[sl.selectedIndex].text), function (result) {
			if (result) {
				waitingMessage("#deleteInfoList#".replace('{0}',sl.options[sl.selectedIndex].text));
				jeedom.cmd.execute({id:"#cmd_delete_id#", notify:true, value:{#argFileId# : sl.options[sl.selectedIndex].value}});
			}
		});
	}
});
$('#jqueryLoadingDiv').hide();
$('.modal-backdrop').hide();
$('.bootbox').hide();
</script>
