.TH1 { margin-left:10px;margin-right:10px;height:50px;text-align:center;background-color:lightgray; }
.TH1s { font-size:32px;font-weight:400;font-family:'Open Sans', sans-serif;margin-top:3px; }
.hoverTH { float:left;margin-left:5px;height:50px;padding-top:2px;cursor:pointer;color:black; }
.hoverTH:hoverw .hoverTHShow { display: block; }
.THSAt { line-height:8px;margin-top:5px;font-size:10.5px;background-color:lightgray !important; }
.THSAd1 { padding-bottom:1.5px;border-bottom:dotted black 1px; }
.THSAd2 { padding-top:1.5px;padding-bottom:1.5px;border-bottom:dotted black 1px; }
.THSAd3 { padding-top:1.5px; }
.hoverTHShow table tr td { padding:2px 2px 2px 4px; display:table-cell; }
.THSBd1 { text-align:center;border-bottom:solid 1px black;font-style:italic;font-weight:bold;background-color:darkgray; }
.TH2t { border:none;margin-left:10px;margin-right:10px; }
.TH2d1a { padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px; }
.TH2d2a { padding-left:5px;padding-right:5px;padding-top:2px;padding-bottom:2px; }
.TH2d3s1 { font-size:15px;font-family:'Open Sans', sans-serif;line-height:30px; }
.TH2d3s2 { line-height:30px;font-size:11.5px;cursor:default; }
.TH2d3s2i { height:13px;vertical-align:text-bottom; }
.statDelta { font-size:9px;color:black;cursor:default; }
.minMaxHeatset { border-radius:3px;font-size:9px;color:black;cursor:default;text-align:right;background-color:lightgray !important; }
.maxHeatset { padding-left:2px;padding-right:2px;border-bottom:dotted black 1px; }
.minHeatset { padding-left:2px;padding-right:2px; }
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.eot');
    src: url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.woff') format('woff'), url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('plugins/evohome/core/template/dashboard/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
  .glyphicon2 {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon2-asterisk:before {
    content: "\002a";
  }
  .glyphicon2-plus:before {
    content: "\002b";
  }
  .glyphicon2-euro:before,
  .glyphicon2-eur:before {
    content: "\20ac";
  }
  .glyphicon2-minus:before {
    content: "\2212";
  }
  .glyphicon2-cloud:before {
    content: "\2601";
  }
  .glyphicon2-envelope:before {
    content: "\2709";
  }
  .glyphicon2-pencil:before {
    content: "\270f";
  }
  .glyphicon2-glass:before {
    content: "\e001";
  }
  .glyphicon2-music:before {
    content: "\e002";
  }
  .glyphicon2-search:before {
    content: "\e003";
  }
  .glyphicon2-heart:before {
    content: "\e005";
  }
  .glyphicon2-star:before {
    content: "\e006";
  }
  .glyphicon2-star-empty:before {
    content: "\e007";
  }
  .glyphicon2-user:before {
    content: "\e008";
  }
  .glyphicon2-film:before {
    content: "\e009";
  }
  .glyphicon2-th-large:before {
    content: "\e010";
  }
  .glyphicon2-th:before {
    content: "\e011";
  }
  .glyphicon2-th-list:before {
    content: "\e012";
  }
  .glyphicon2-ok:before {
    content: "\e013";
  }
  .glyphicon2-remove:before {
    content: "\e014";
  }
  .glyphicon2-zoom-in:before {
    content: "\e015";
  }
  .glyphicon2-zoom-out:before {
    content: "\e016";
  }
  .glyphicon2-off:before {
    content: "\e017";
  }
  .glyphicon2-signal:before {
    content: "\e018";
  }
  .glyphicon2-cog:before {
    content: "\e019";
  }
  .glyphicon2-trash:before {
    content: "\e020";
  }
  .glyphicon2-home:before {
    content: "\e021";
  }
  .glyphicon2-file:before {
    content: "\e022";
  }
  .glyphicon2-time:before {
    content: "\e023";
  }
  .glyphicon2-road:before {
    content: "\e024";
  }
  .glyphicon2-download-alt:before {
    content: "\e025";
  }
  .glyphicon2-download:before {
    content: "\e026";
  }
  .glyphicon2-upload:before {
    content: "\e027";
  }
  .glyphicon2-inbox:before {
    content: "\e028";
  }
  .glyphicon2-play-circle:before {
    content: "\e029";
  }
  .glyphicon2-repeat:before {
    content: "\e030";
  }
  .glyphicon2-refresh:before {
    content: "\e031";
  }
  .glyphicon2-list-alt:before {
    content: "\e032";
  }
  .glyphicon2-lock:before {
    content: "\e033";
  }
  .glyphicon2-flag:before {
    content: "\e034";
  }
  .glyphicon2-headphones:before {
    content: "\e035";
  }
  .glyphicon2-volume-off:before {
    content: "\e036";
  }
  .glyphicon2-volume-down:before {
    content: "\e037";
  }
  .glyphicon2-volume-up:before {
    content: "\e038";
  }
  .glyphicon2-qrcode:before {
    content: "\e039";
  }
  .glyphicon2-barcode:before {
    content: "\e040";
  }
  .glyphicon2-tag:before {
    content: "\e041";
  }
  .glyphicon2-tags:before {
    content: "\e042";
  }
  .glyphicon2-book:before {
    content: "\e043";
  }
  .glyphicon2-bookmark:before {
    content: "\e044";
  }
  .glyphicon2-print:before {
    content: "\e045";
  }
  .glyphicon2-camera:before {
    content: "\e046";
  }
  .glyphicon2-font:before {
    content: "\e047";
  }
  .glyphicon2-bold:before {
    content: "\e048";
  }
  .glyphicon2-italic:before {
    content: "\e049";
  }
  .glyphicon2-text-height:before {
    content: "\e050";
  }
  .glyphicon2-text-width:before {
    content: "\e051";
  }
  .glyphicon2-align-left:before {
    content: "\e052";
  }
  .glyphicon2-align-center:before {
    content: "\e053";
  }
  .glyphicon2-align-right:before {
    content: "\e054";
  }
  .glyphicon2-align-justify:before {
    content: "\e055";
  }
  .glyphicon2-list:before {
    content: "\e056";
  }
  .glyphicon2-indent-left:before {
    content: "\e057";
  }
  .glyphicon2-indent-right:before {
    content: "\e058";
  }
  .glyphicon2-facetime-video:before {
    content: "\e059";
  }
  .glyphicon2-picture:before {
    content: "\e060";
  }
  .glyphicon2-map-marker:before {
    content: "\e062";
  }
  .glyphicon2-adjust:before {
    content: "\e063";
  }
  .glyphicon2-tint:before {
    content: "\e064";
  }
  .glyphicon2-edit:before {
    content: "\e065";
  }
  .glyphicon2-share:before {
    content: "\e066";
  }
  .glyphicon2-check:before {
    content: "\e067";
  }
  .glyphicon2-move:before {
    content: "\e068";
  }
  .glyphicon2-step-backward:before {
    content: "\e069";
  }
  .glyphicon2-fast-backward:before {
    content: "\e070";
  }
  .glyphicon2-backward:before {
    content: "\e071";
  }
  .glyphicon2-play:before {
    content: "\e072";
  }
  .glyphicon2-pause:before {
    content: "\e073";
  }
  .glyphicon2-stop:before {
    content: "\e074";
  }
  .glyphicon2-forward:before {
    content: "\e075";
  }
  .glyphicon2-fast-forward:before {
    content: "\e076";
  }
  .glyphicon2-step-forward:before {
    content: "\e077";
  }
  .glyphicon2-eject:before {
    content: "\e078";
  }
  .glyphicon2-chevron-left:before {
    content: "\e079";
  }
  .glyphicon2-chevron-right:before {
    content: "\e080";
  }
  .glyphicon2-plus-sign:before {
    content: "\e081";
  }
  .glyphicon2-minus-sign:before {
    content: "\e082";
  }
  .glyphicon2-remove-sign:before {
    content: "\e083";
  }
  .glyphicon2-ok-sign:before {
    content: "\e084";
  }
  .glyphicon2-question-sign:before {
    content: "\e085";
  }
  .glyphicon2-info-sign:before {
    content: "\e086";
  }
  .glyphicon2-screenshot:before {
    content: "\e087";
  }
  .glyphicon2-remove-circle:before {
    content: "\e088";
  }
  .glyphicon2-ok-circle:before {
    content: "\e089";
  }
  .glyphicon2-ban-circle:before {
    content: "\e090";
  }
  .glyphicon2-arrow-left:before {
    content: "\e091";
  }
  .glyphicon2-arrow-right:before {
    content: "\e092";
  }
  .glyphicon2-arrow-up:before {
    content: "\e093";
  }
  .glyphicon2-arrow-down:before {
    content: "\e094";
  }
  .glyphicon2-share-alt:before {
    content: "\e095";
  }
  .glyphicon2-resize-full:before {
    content: "\e096";
  }
  .glyphicon2-resize-small:before {
    content: "\e097";
  }
  .glyphicon2-exclamation-sign:before {
    content: "\e101";
  }
  .glyphicon2-gift:before {
    content: "\e102";
  }
  .glyphicon2-leaf:before {
    content: "\e103";
  }
  .glyphicon2-fire:before {
    content: "\e104";
  }
  .glyphicon2-eye-open:before {
    content: "\e105";
  }
  .glyphicon2-eye-close:before {
    content: "\e106";
  }
  .glyphicon2-warning-sign:before {
    content: "\e107";
  }
  .glyphicon2-plane:before {
    content: "\e108";
  }
  .glyphicon2-calendar:before {
    content: "\e109";
  }
  .glyphicon2-random:before {
    content: "\e110";
  }
  .glyphicon2-comment:before {
    content: "\e111";
  }
  .glyphicon2-magnet:before {
    content: "\e112";
  }
  .glyphicon2-chevron-up:before {
    content: "\e113";
  }
  .glyphicon2-chevron-down:before {
    content: "\e114";
  }
  .glyphicon2-retweet:before {
    content: "\e115";
  }
  .glyphicon2-shopping-cart:before {
    content: "\e116";
  }
  .glyphicon2-folder-close:before {
    content: "\e117";
  }
  .glyphicon2-folder-open:before {
    content: "\e118";
  }
  .glyphicon2-resize-vertical:before {
    content: "\e119";
  }
  .glyphicon2-resize-horizontal:before {
    content: "\e120";
  }
  .glyphicon2-hdd:before {
    content: "\e121";
  }
  .glyphicon2-bullhorn:before {
    content: "\e122";
  }
  .glyphicon2-bell:before {
    content: "\e123";
  }
  .glyphicon2-certificate:before {
    content: "\e124";
  }
  .glyphicon2-thumbs-up:before {
    content: "\e125";
  }
  .glyphicon2-thumbs-down:before {
    content: "\e126";
  }
  .glyphicon2-hand-right:before {
    content: "\e127";
  }
  .glyphicon2-hand-left:before {
    content: "\e128";
  }
  .glyphicon2-hand-up:before {
    content: "\e129";
  }
  .glyphicon2-hand-down:before {
    content: "\e130";
  }
  .glyphicon2-circle-arrow-right:before {
    content: "\e131";
  }
  .glyphicon2-circle-arrow-left:before {
    content: "\e132";
  }
  .glyphicon2-circle-arrow-up:before {
    content: "\e133";
  }
  .glyphicon2-circle-arrow-down:before {
    content: "\e134";
  }
  .glyphicon2-globe:before {
    content: "\e135";
  }
  .glyphicon2-wrench:before {
    content: "\e136";
  }
  .glyphicon2-tasks:before {
    content: "\e137";
  }
  .glyphicon2-filter:before {
    content: "\e138";
  }
  .glyphicon2-briefcase:before {
    content: "\e139";
  }
  .glyphicon2-fullscreen:before {
    content: "\e140";
  }
  .glyphicon2-dashboard:before {
    content: "\e141";
  }
  .glyphicon2-paperclip:before {
    content: "\e142";
  }
  .glyphicon2-heart-empty:before {
    content: "\e143";
  }
  .glyphicon2-link:before {
    content: "\e144";
  }
  .glyphicon2-phone:before {
    content: "\e145";
  }
  .glyphicon2-pushpin:before {
    content: "\e146";
  }
  .glyphicon2-usd:before {
    content: "\e148";
  }
  .glyphicon2-gbp:before {
    content: "\e149";
  }
  .glyphicon2-sort:before {
    content: "\e150";
  }
  .glyphicon2-sort-by-alphabet:before {
    content: "\e151";
  }
  .glyphicon2-sort-by-alphabet-alt:before {
    content: "\e152";
  }
  .glyphicon2-sort-by-order:before {
    content: "\e153";
  }
  .glyphicon2-sort-by-order-alt:before {
    content: "\e154";
  }
  .glyphicon2-sort-by-attributes:before {
    content: "\e155";
  }
  .glyphicon2-sort-by-attributes-alt:before {
    content: "\e156";
  }
  .glyphicon2-unchecked:before {
    content: "\e157";
  }
  .glyphicon2-expand:before {
    content: "\e158";
  }
  .glyphicon2-collapse-down:before {
    content: "\e159";
  }
  .glyphicon2-collapse-up:before {
    content: "\e160";
  }
  .glyphicon2-log-in:before {
    content: "\e161";
  }
  .glyphicon2-flash:before {
    content: "\e162";
  }
  .glyphicon2-log-out:before {
    content: "\e163";
  }
  .glyphicon2-new-window:before {
    content: "\e164";
  }
  .glyphicon2-record:before {
    content: "\e165";
  }
  .glyphicon2-save:before {
    content: "\e166";
  }
  .glyphicon2-open:before {
    content: "\e167";
  }
  .glyphicon2-saved:before {
    content: "\e168";
  }
  .glyphicon2-import:before {
    content: "\e169";
  }
  .glyphicon2-export:before {
    content: "\e170";
  }
  .glyphicon2-send:before {
    content: "\e171";
  }
  .glyphicon2-floppy-disk:before {
    content: "\e172";
  }
  .glyphicon2-floppy-saved:before {
    content: "\e173";
  }
  .glyphicon2-floppy-remove:before {
    content: "\e174";
  }
  .glyphicon2-floppy-save:before {
    content: "\e175";
  }
  .glyphicon2-floppy-open:before {
    content: "\e176";
  }
  .glyphicon2-credit-card:before {
    content: "\e177";
  }
  .glyphicon2-transfer:before {
    content: "\e178";
  }
  .glyphicon2-cutlery:before {
    content: "\e179";
  }
  .glyphicon2-header:before {
    content: "\e180";
  }
  .glyphicon2-compressed:before {
    content: "\e181";
  }
  .glyphicon2-earphone:before {
    content: "\e182";
  }
  .glyphicon2-phone-alt:before {
    content: "\e183";
  }
  .glyphicon2-tower:before {
    content: "\e184";
  }
  .glyphicon2-stats:before {
    content: "\e185";
  }
  .glyphicon2-sd-video:before {
    content: "\e186";
  }
  .glyphicon2-hd-video:before {
    content: "\e187";
  }
  .glyphicon2-subtitles:before {
    content: "\e188";
  }
  .glyphicon2-sound-stereo:before {
    content: "\e189";
  }
  .glyphicon2-sound-dolby:before {
    content: "\e190";
  }
  .glyphicon2-sound-5-1:before {
    content: "\e191";
  }
  .glyphicon2-sound-6-1:before {
    content: "\e192";
  }
  .glyphicon2-sound-7-1:before {
    content: "\e193";
  }
  .glyphicon2-copyright-mark:before {
    content: "\e194";
  }
  .glyphicon2-registration-mark:before {
    content: "\e195";
  }
  .glyphicon2-cloud-download:before {
    content: "\e197";
  }
  .glyphicon2-cloud-upload:before {
    content: "\e198";
  }
  .glyphicon2-tree-conifer:before {
    content: "\e199";
  }
  .glyphicon2-tree-deciduous:before {
    content: "\e200";
  }
  .glyphicon2-cd:before {
    content: "\e201";
  }
  .glyphicon2-save-file:before {
    content: "\e202";
  }
  .glyphicon2-open-file:before {
    content: "\e203";
  }
  .glyphicon2-level-up:before {
    content: "\e204";
  }
  .glyphicon2-copy:before {
    content: "\e205";
  }
  .glyphicon2-paste:before {
    content: "\e206";
  }
  .glyphicon2-alert:before {
    content: "\e209";
  }
  .glyphicon2-equalizer:before {
    content: "\e210";
  }
  .glyphicon2-king:before {
    content: "\e211";
  }
  .glyphicon2-queen:before {
    content: "\e212";
  }
  .glyphicon2-pawn:before {
    content: "\e213";
  }
  .glyphicon2-bishop:before {
    content: "\e214";
  }
  .glyphicon2-knight:before {
    content: "\e215";
  }
  .glyphicon2-baby-formula:before {
    content: "\e216";
  }
  .glyphicon2-tent:before {
    content: "\26fa";
  }
  .glyphicon2-blackboard:before {
    content: "\e218";
  }
  .glyphicon2-bed:before {
    content: "\e219";
  }
  .glyphicon2-apple:before {
    content: "\f8ff";
  }
  .glyphicon2-erase:before {
    content: "\e221";
  }
  .glyphicon2-hourglass:before {
    content: "\231b";
  }
  .glyphicon2-lamp:before {
    content: "\e223";
  }
  .glyphicon2-duplicate:before {
    content: "\e224";
  }
  .glyphicon2-piggy-bank:before {
    content: "\e225";
  }
  .glyphicon2-scissors:before {
    content: "\e226";
  }
  .glyphicon2-bitcoin:before {
    content: "\e227";
  }
  .glyphicon2-btc:before {
    content: "\e227";
  }
  .glyphicon2-xbt:before {
    content: "\e227";
  }
  .glyphicon2-yen:before {
    content: "\00a5";
  }
  .glyphicon2-jpy:before {
    content: "\00a5";
  }
  .glyphicon2-ruble:before {
    content: "\20bd";
  }
  .glyphicon2-rub:before {
    content: "\20bd";
  }
  .glyphicon2-scale:before {
    content: "\e230";
  }
  .glyphicon2-ice-lolly:before {
    content: "\e231";
  }
  .glyphicon2-ice-lolly-tasted:before {
    content: "\e232";
  }
  .glyphicon2-education:before {
    content: "\e233";
  }
  .glyphicon2-option-horizontal:before {
    content: "\e234";
  }
  .glyphicon2-option-vertical:before {
    content: "\e235";
  }
  .glyphicon2-menu-hamburger:before {
    content: "\e236";
  }
  .glyphicon2-modal-window:before {
    content: "\e237";
  }
  .glyphicon2-oil:before {
    content: "\e238";
  }
  .glyphicon2-grain:before {
    content: "\e239";
  }
  .glyphicon2-sunglasses:before {
    content: "\e240";
  }
  .glyphicon2-text-size:before {
    content: "\e241";
  }
  .glyphicon2-text-color:before {
    content: "\e242";
  }
  .glyphicon2-text-background:before {
    content: "\e243";
  }
  .glyphicon2-object-align-top:before {
    content: "\e244";
  }
  .glyphicon2-object-align-bottom:before {
    content: "\e245";
  }
  .glyphicon2-object-align-horizontal:before {
    content: "\e246";
  }
  .glyphicon2-object-align-left:before {
    content: "\e247";
  }
  .glyphicon2-object-align-vertical:before {
    content: "\e248";
  }
  .glyphicon2-object-align-right:before {
    content: "\e249";
  }
  .glyphicon2-triangle-right:before {
    content: "\e250";
  }
  .glyphicon2-triangle-left:before {
    content: "\e251";
  }
  .glyphicon2-triangle-bottom:before {
    content: "\e252";
  }
  .glyphicon2-triangle-top:before {
    content: "\e253";
  }
  .glyphicon2-console:before {
    content: "\e254";
  }
  .glyphicon2-superscript:before {
    content: "\e255";
  }
  .glyphicon2-subscript:before {
    content: "\e256";
  }
  .glyphicon2-menu-left:before {
    content: "\e257";
  }
  .glyphicon2-menu-right:before {
    content: "\e258";
  }
  .glyphicon2-menu-down:before {
    content: "\e259";
  }
  .glyphicon2-menu-up:before {
    content: "\e260";
  }  