<div id="plugin_container" class="eqLogic-widget eqLogic allowResize allowReorderCmd" style="overflow:unset;width:#width#;height:#height#;color:var(--txt-color) !important;#style#;#new-background-color#" data-category="" data-eqtype="#pluginName#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
	<div>
		<div class="fa fa-refresh" id="refresh#id#" style="display:#reloadDisplay#;float:left;margin-top:4px;margin-left:4px;#new-background-color#" />
		<div style="display:#batteryImgDisplay#;float:left;margin-top:7px;margin-left:6px;#new-background-color#">
			<img class="hoverBattShowA#id#"style="padding:1px;" src="plugins/#pluginName#/img/#batteryImg#"/>
			<div class="hoverBattShowB#id# hoverTLRShow"><span nobreak>&nbsp;#batteryImgTitle#&nbsp;</span></div>
		</div>
		<div style="float:right;margin-top:7px;margin-right:#iazMarginRight#px;">
			<span class="hoverTLRShowA#id# #iazIcon#" style="cursor:pointer;font-size:#iazIconSize#px;vertical-align:top;color:#iazColorState#;"/>
			<div class="hoverTLRShowB#id# hoverTLRShow"><span nobreak>&nbsp;#iazLastRead#&nbsp;</span></div>
		</div>
		<div class="widget-name" style="padding-top:4px;margin-right:24px;text-align:center;background-image:linear-gradient(to right,#background-color-B#,#background-color-A#);">
	#consoleContent#
	#temperatureContent#
</div>
