<div style="height:6px;"></div>
<div style="margin-left:10px;margin-right:10px;text-align:center;background-color:lightgray;display:#temperatureDisplay#;">
	<span data-cmd_id="#temperatureId#" class="history cursor" style="display:#temperatureDisplay2#;color:black;font-size:32px;font-weight:400;font-family:'Open Sans', sans-serif;">#temperature#</span>
	<img data-cmd_id="#temperatureId#" class="history cursor" style="display:#temperatureImgDisplay#" src="plugins/evohome/img/#temperatureImg#" />
</div>

<div class="showCurrentScheduleC#zoneId# showCS" style="display:#consigneDisplay#;float:left;border-radius:4px;margin-left:10px;width:28px;height:30px;background-color:#cmd-background-color#;">
	<a class="btn btn-btn-sm" style="padding-left:6px;padding-top:6px;">
		<i class="fa fxa-folder-open">Pc</i>
	</a>
</div>
<div class="showCurrentScheduleS#zoneId# showCS" style="display:#consigneDisplay#;float:left;border-radius:4px;width:28px;height:30px;background-color:#cmd-background-color#;">
	<a class="btn btn-btn-sm" style="padding-left:6px;padding-top:6px;">
		<i class="fa fxa-folder-open showSavedScheduleCaption#zoneId#">Ps</i>
	</a>
</div>
<div style="border:#consigneBorder#px solid black;margin-left:36px;margin-right:10px;height:30px;text-align:center;background-color:#consigneBG#;display:#consigneDisplay#;">
	<span data-cmd_id="#consigneId#" class="history cursor" style="color:white;font-size:15px;font-family:'Open Sans', sans-serif;line-height:30px;" title="#consigneTip#">#consigne#</span>
	<span style="display:#consigneTypeDisplay#;" title="#consigneTypeUntilFull#">
		<img style="display:#consigneTypeDisplay#;height:18px;width:18px;" src="plugins/evohome/img/#consigneTypeImg#" />
		&nbsp;#consigneTypeUntil#
	</span>
</div>
<script>
$('.showCurrentScheduleC#zoneId#').off().on('click', function () {
	_showSchedule_#zoneId#('C');
});
$('.showCurrentScheduleS#zoneId#').off().on('click', function () {
	if ( $('#scheduleList'+genConsoleId).value() > 0 ) {
		_showSchedule_#zoneId#('S');
	}
});
function _showSchedule_#zoneId#(type) {
	if ( $('.showCurrentSchedule'+type+'#zoneId#').css("background-color") != "rgb(16, 208, 16)" ) {
		showSchedule_#zoneId#(type);
	} else {
		$('#md_modal').dialog('close');
	}
}
function showSchedule_#zoneId#(type,mode) {
	generalLastMode = mode == null ? (generalLastMode == null ? '#evoDefaultShowingScheduleMode#' : generalLastMode) : mode;
	$('#md_modal').dialog('close');
	$('#md_modal').dialog({
		title: "", height: 'auto', width: (generalLastMode == '#showHorizontal#' ? Math.min(1000,jQuery(window).width()-16) : 700),
		position: { my: "center top", at: "center top+50", of: window }});

	var fileId = type == 'C' ? 0 : $('#scheduleList'+genConsoleId+' option:selected').value();
	$('#md_modal').load('index.php?v=d&plugin=evohome&modal=schedule'+generalLastMode+'&id=#id#&#argZoneId#=#zoneId#&#argFileId#='+fileId+'&edit=0&mode='+generalLastMode+'&typeSchedule='+type).dialog('open');
	$('.showCurrentSchedule'+type+'#zoneId#').css("background-color", "rgb(16, 208, 16)");
}
$('.showSavedScheduleCaption#zoneId#').css('color', $('#scheduleList'+genConsoleId).value() == 0 ? 'gray' : 'white');
</script>
