			<a href="#eqLink#" style="font-size:1.1em;color:#TH-color# !important;"><strong>#name_display#</strong></a>
		</div>
	</div>
<div style="height:6px;"></div>
<div class="TH1" style="display:#temperatureDisplay#;">
	<div class="hoverTH" style="display:#minMaxDisplay#;">
		<table class="hoverTHShowA#id# THSAt">
			<tr style="background-color:lightgray !important"><td class="fas fa-thermometer-full THSAd1" style="font-size:11px !important;">#statThMax#</td></tr>
			<tr style="background-color:lightgray !important"><td class="fas fa-thermometer-half THSAd2" style="font-size:11px !important;">#statThAvg#</td></tr>
			<tr style="background-color:lightgray !important"><td class="fas fa-thermometer-empty THSAd3" style="font-size:11px !important;">#statThMin#</td></tr>
		</table>
		<div class="hoverTHShowB#id# hoverTHShow">
			<table border="1" class="tableCmd" style="width:97%;background-color:rgba(var(--eq-bg-color), var(--opacity));xcolor:black;margin:6px;"><tbody>
				<tr><td colspan="4" class="THSBd1">#name_display# : #statTitle#</td></tr>
				<tr><td colspan="2">#statRazTimeTitle#</td><td colspan="2">#statRazTime#</td></tr>
				<tr><td colspan="2">#statLastReadTitle#</td><td colspan="2">#statLastRead#</td></tr>
				<tr><td class="fas fa-thermometer-full" style="padding-left:8px;">&nbsp;#statMaxTitle#&nbsp;</td><td colspan="2">#statThMax#&nbsp;<span style="font-style:italic;">(#statWhenMax#)</span></td><td style="width:90px;" align=center>-1°&nbsp;>&nbsp;#statWhenMinus1#</td></tr>
				<tr><td class="fas fa-thermometer-half" style="padding-left:8px;">&nbsp;#statAvgTitle#&nbsp;</td><td colspan="3">#statThAvg#&nbsp;<span style="font-style:italic;">(#statNbPoints#)</span></td></tr>
				<tr><td class="fas fa-thermometer-empty" style="padding-left:8px;">&nbsp;#statMinTitle#&nbsp;</td><td colspan="2">#statThMin#&nbsp;<span style="font-style:italic;">(#statWhenMin#)</span></td><td align=center>+1°&nbsp;>&nbsp;#statWhenPlus1#</td></tr>
			</tbody></table>
		 </div>
	</div>
	<div style="display:inline-flex;">
		<div style="display:#temperatureDisplay2#;">
			<span data-cmd_id="#temperatureId#" class="cmd-widget history cursor TH1s" style="color:#evoTemperatureColor#;">#temperature#</span>
			<img style="display:#deltaDisplay#;margin-top:18px;" title="#deltaValue#" src="plugins/#pluginName#/img/#deltaImg#"/>
		</div>
		<div style="padding-left:4px;margin-top:8px;">
			<div class="statDelta" style="display:#temperatureDeltaDisplay#" title="#statDeltaTitle#">#statDelta#</div>
			<img style="#temperatureImgStyle#" #temperatureImgTitle# src="plugins/#pluginName#/img/#temperatureImg#"/>
		</div>
	</div>
</div>

<table class="tableCmd TH2t" style="display:#consigneDisplay#;"><tr>
<td class="showCurrentScheduleC#zoneId# showCS TH2d1" style="display:#displayScheduling#;">
	<a class="TH2d1a btn btn-sm" style="background-color:inherit !important;color:white !important;">Pc</a>
</td>
<td class="showCurrentScheduleS#zoneId# showCS TH2d2" style="display:#displayScheduling#;">
	<a class="TH2d2a btn btn-sm showSavedScheduleCaption#id#" style="background-color:inherit !important;color:white !important;">Ps</a>
</td>
<td class="zidBackConsigneVx#zoneId#" width="100%" style="text-align:center;font-weight:400;background-color:#consigneBG#">
	<img style="display:#presenceDisplay#;height:16px;margin-right:4px;" src="plugins/#pluginName#/img/#presenceImg#"/>
	<span data-cmd_id="#consigneId#" class="zidConsigneVx#zoneId# cmd-widget history cursor TH2d3s1" style="color:#evoConsigneColor#;" title="#consigneTip#">#consigne#</span>
	<span class="zidSpDisplayImgVx#zoneId# TH2d3s2" style="display:#consigneTypeDisplay#;" title="#consigneTypeUntilFull#">
		<img class="zidSpImgVx#zoneId# TH2d3s2i" src="plugins/#pluginName#/img/#consigneTypeImg#"/>
		<span class="zidConsigneTypeUntilVx#zoneId#" style="color:white;">&nbsp;#consigneTypeUntil#</span>
	</span>
	<span class="zidSetTempSpinnerVx#zoneId# fa fa-spinner fa-pulse" style="display:none;color:white;margin-top:9px;margin-left:4px;"></span>
	<div style="display:#minMaxDisplay#;float:right;padding-top:3px;padding-right:3px;">
		<table class="minMaxHeatset" style="display:#setConsigneDisplayV1#;">
			<tr><td class="maxHeatset">#adjustHigh#°</td></tr>
			<tr><td class="minHeatset">#adjustLow#°</td></tr>
		</table>
	</div>
</td>
<td style="display:#setConsigneDisplayV1#;">
	<a class="zidAdjustV1Plus#zoneId# btn btn-sm TH2d4">
		<span class="zidAdjustV1PlusIcon#zoneId# fas fa-chevron-up"></span>
	</a>
	<a class="zidAdjustV1Minus#zoneId# btn btn-sm TH2d4">
		<span class="zidAdjustV1MinusIcon#zoneId# fas fa-chevron-down"></span>
	</a>
</td>
<td style="display:#setConsigneDisplayV1#;">
	<a class="zidAdjustV1Reset#zoneId# btn btn-sm TH2d5" title="#backScheduleTitle#">
		<span class="zidAdjustV1ResetIcon#zoneId# fas fa-redo" style="color:white;"></span>
	</a>
	<a class="zidAdjustV1Lowest#zoneId# btn btn-sm TH2d5">
		<span class="zidAdjustV1LowestIcon#zoneId#" style="font-weight:100;">min</span>
	</a>
</td>
<td style="display:#setConsigneDisplayV2#;">
	<a class="zidAdjustV2Reset#zoneId# btn btn-sm TH2d5" title="#backScheduleTitle#">
		<span class="zidAdjustV2ResetIcon#zoneId# fas fa-redo" style="color:white;"></span>
	</a>
	<a class="zidAdjustV2#zoneId# btn btn-sm TH2d5">
		<span class="zidAdjustV2Icon#zoneId#" style="font-weight:100;color:white;">
			<span class="fa fa-minus-circle"></span>
			<span class="fa fa-plus-circle"></span>
		</span>
	</a>
</td>
</tr></table>
<script type="text/javascript" src="plugins/#pluginName#/core/template/dashboard/dashboard_min.js?#dashboard_min_js_size#"></script>
<script type="text/javascript" src="plugins/#pluginName#/core/template/dashboard/temperature_min.js?#temperature_min_js_size#"></script>
<script>
evoRegisterHover(#id#,'Batt');
initVarsCommon('#pluginName#',#id#,'#evoBackgroundColor#','#evoCmdBackgroundColor#',#apiAvailable#,"#msgApiUnavailable#",'#evoDefaultShowingScheduleMode#','#showHorizontal#','#argZoneId#','#argFileId#',#dashboard_css_size#,'#evoMsgInfo#');
initVarsTH('#locId#',#id#,'#zoneId#');
if ( '#setConsigneDisplayV1#' != 'none' || '#setConsigneDisplayV2#' != 'none' ) initVarsAC(#taskIsRunning#,'#adjustAvailable#',"#msgAdjustConsigneUnavailable#","#msgEnforceConsigne#",'#zoneId#','#currentConsigne#','#currentConsigneUntil#','#consigneNoUnit#','#adjustLow#','#adjustHigh#','#adjustStep#','#cmd_setConsigne_id#',"#canReset#" == "1",'#setConsigneDisplayV1#' != 'none',"#name_display#","#lblAdjTHTitle1#",#setThModes#);
</script>
