<span style="line-height:20px;display: #temperatureDisplay#;">&nbsp;</span>
<div style="margin-left:10px;margin-right:10px;text-align:center;background-color:lightgray;display:#temperatureDisplay#;">
	<span data-cmd_id="#temperatureId#" class="history cursor" style="display:#temperatureDisplay2#;color:black;font-size:36px;font-weight:400;font-family:'Open Sans', sans-serif;">#temperature#</span>
	<img data-cmd_id="#temperatureId#" class="history cursor" style="display:#temperatureImgDisplay#" src="plugins/evohome/img/#temperatureImg#" />
</div>

<div style="border: #consigneBorder#px solid black;margin-left:10px;margin-right:10px;text-align:center;background-color: #consigneBG#;display:#consigneDisplay#;">
	<span data-cmd_id="#consigneId#" class="history cursor" style="color:white;font-size:15px;font-family:'Open Sans', sans-serif;line-height:30px;" title="#consigneTip#">#consigne#</span>
	<span style="display:#consigneTypeDisplay#;">&nbsp;&nbsp;</span>
	
	<span style="display:#consigneTypeDisplay#;" title="#consigneTypeUntilFull#">
		<img style="display:#consigneTypeDisplay#;height:18px;width:18px;" src="plugins/evohome/img/#consigneTypeImg#" />
		&nbsp;#consigneTypeUntil#
	</span>
</div>
