<div data-cmd_id="#etatId#" style="margin-left:0px;margin-right:0px;text-align:center;xbackground-color:lightgray;display: #etatDisplay#;">
	<img id="setMode#id#" style="cursor:pointer;height:30px;width:30px;" src="plugins/evohome/img/#etatImg#" />
	<span style="display: #etatUntilDisplay#;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<img style="display: #etatUntilDisplay#;height:15px;width:15px;" src="plugins/evohome/img/#etatUntilImg#" />
	<span style="display: #etatUntilDisplay#;color:black;" title="#etatUntilFull#">&nbsp;#etatUntil#</span>
	<br/>
	<span style="font-size:12px;color:black;">#scheduleTitle#</span>
	<select id="scheduleList#id#" style="width:146px;font-size:12px;color:black;">#options#</select>
	<br/>
	<a class="saveSchedule#id# btn btn-btn-sm" style="background-color:#cmd-background-color# !important;border-color:transparent !important;
			line-height: 14px;width: 14px;padding-left:8px;padding-right:18px;"
			title="#title.save#">
		<i class="fa fa-circle" style="color:#save.color#;"></i>
	</a>
	<a class="showCurrentSchedule#id# btn btn-btn-sm" style="background-color:#cmd-background-color# !important;border-color:transparent !important;
			line-height: 14px;width: 14px;padding-left:6px;padding-right:20px;"
			title="#title.showCurrent#">
		<i class="fa fxa-folder-open">Pa</i>
	</a>
	<a class="showSavedSchedule#id# btn btn-btn-sm" style="background-color:#cmd-background-color# !important;border-color:transparent !important;
			line-height: 14px;width: 14px;padding-left:6px;padding-right:20px;"
			title="#title.showSelected#">
		<i class="fa fxa-folder-open">Ps</i>
	</a>
	<a class="restoreSchedule#id# btn btn-btn-sm" style="background-color:#cmd-background-color# !important;border-color:transparent !important;
			line-height: 14px;width: 14px;padding-left:8px;padding-right:18px;"
			title="#title.restore#">
		<span class="fa fxa-folder-open restaureCaption#id#">R</span>
	</a>
	<a class="removeSchedule#id# btn btn-btn-sm" style="background-color:#cmd-background-color# !important;border-color:transparent !important;
			line-height: 14px;width: 14px;padding-left:8px;padding-right:18px;"
			title="#title.delete#">
		<span class="fa fxa-folder-open deleteCaption#id#">X</span>
	</a>
	<br/>
</div>

<script>
$('#setMode#id#').on('click', function() {
	var dialog = bootbox.prompt({
		title: '#title.setMode#',
		value: '',
		callback: function (fileName) {}
	});
	dialog.init(function() {
		var pairs = [ [#codeAuto#, 'i_calendar', '#modeAuto#'],
					  [#codeEco#, 'i_economy', '#modeEco#'],
					  [#codeAway#, 'i_away', '#modeAway#'],
					  [#codeDayOff#, 'i_dayoff', '#modeDayOff#'],
					  [#codeCustom#, 'i_custom', '#modeCustom#'],
					  [#codeOff#, 'i_off', '#modeOff#'] ];
		var buttons = '<br/><table width="100%"><tr>';
		for ( i=0 ; i<pairs.length ; i++ ) {	// i == evohome::CODE_MODE_n
			buttons += '<td align="center" width="'+(100/6)+'%"';
			if ( #etatCode# != pairs[i][0] ) buttons += 'style="cursor:pointer;" onclick="setMode('+pairs[i][0]+',\''+pairs[i][2]+'\');"';
			buttons += '><img style="height:40px;width:40px;color:red;" src="plugins/evohome/img/'+pairs[i][1]+'.svg"';
			buttons += '/><br/><span style="';
			if ( #etatCode# == pairs[i][0] ) buttons += 'background-color:green;color:white;';
			buttons += '">&nbsp;'+pairs[i][2]+'&nbsp;</span></td>';
		}
		buttons += '</tr></table><br/>';
		$('.bootbox-input-text').replaceWith(buttons);
		$('.btn-primary').replaceWith('');
	});
});

function setMode(mode,name) {
	$('.btn-default[data-bb-handler="cancel"]').click();
	changeScheduleList('#setModeInfoList#'.replace('{0}',name));
	jeedom.cmd.execute({id: '#cmd_setmode_id#', notify: true, value : {#argCodeMode# : mode}});
}

$('.saveSchedule#id#').on('click', function() {
	bootbox.prompt({
		title: '#saveAs#',
		value: $('#scheduleList#id#').value() == 0 ? '' : $('#scheduleList#id# option:selected').text(),
		callback: function (fileName) {
			if ( fileName != null && fileName != '' ) {
				var fileId = 0;
				$("#scheduleList#id# option").each(function() {
					if (this.text == fileName) {
						fileId = this.value;
					}
				});
				if ( fileId != 0 ) {
					bootbox.confirm('#saveReplace#'.replace('{0}',fileName), function(ret2) {
						if ( ret2 ) {
							var fileId = $('#scheduleList#id#').value();
							_save(fileName, fileId);
						}
					});
				} else {
					_save(fileName, 0);
				}
			}
		}
		}
	);
});

function changeScheduleList(text) {
	$('#scheduleList#id#').empty()
	$('#scheduleList#id#').append(new Option(text, 0, false, false));
	$('#scheduleList#id#').prop('disabled', 'disabled');
	$('#jqueryLoadingDiv').show();
}

function _save(fileName, fileId) {
	changeScheduleList('#saveInfoList#'.replace('{0}',fileName));
	jeedom.cmd.execute({id:'#cmd_save_id#', notify:false, value:{#argFileName#:fileName, #argFileId#:fileId}});
}

$('.showCurrentSchedule#id#').off().on('click', function () {
	// show current schedule (from InfoAllZones)
	showSchedule(0);
});

$('.showSavedSchedule#id#').off().on('click', function () {
	// show saved schedule (from saved file)
	showSchedule($('#scheduleList#id#').value());
});

var lastMode = 'H';
function showSchedule(fileId, mode) {
  if ( mode == null ) mode = lastMode;
  $('#md_modal').dialog({
	title: "...",
	height: jQuery(window).height() - (fileId == 0 ? 60 : 104),
	width: (mode == 'H' ? Math.min(1000,jQuery(window).width()-16) : 620),
	position: { my: "center bottom-"+(fileId == 0 ? "4" : "48"), at: "center bottom", of: window }});
  $('#md_modal').load('index.php?v=d&plugin=evohome&modal=schedule'+mode+'&id=#id#&#argFileId#='+fileId+'&mode='+mode).dialog('open');
  lastMode = mode;
}

$('#scheduleList#id#').on('change', function() {
	checkActions();
});

var isCurrent = false;
function checkActions() {
	isCurrent = '#scheduleFileId#' == $('#scheduleList#id#').value();
	$('.restaureCaption#id#').css('color', isCurrent ? 'gray' : 'white');
	$('.deleteCaption#id#').css('color', isCurrent ? 'gray' : 'white');
}
checkActions();

$('.restoreSchedule#id#').on('click', function() {
	if ( !isCurrent ) {
		var sl = document.getElementById('scheduleList#id#');
		bootbox.confirm('#restoreConfirm#'.replace('{0}', sl.options[sl.selectedIndex].text), function (result) {
			if (result) {
				var fileId = $('#scheduleList#id#').value();
				changeScheduleList('#restoreInfoList#'.replace('{0}',sl.options[sl.selectedIndex].text));
				jeedom.cmd.execute({id: '#cmd_restore_id#', notify: true, value : {#argFileId# :fileId}});
			}
		});
	}
});

$('.removeSchedule#id#').on('click', function() {
	if ( !isCurrent ) {
		var sl = document.getElementById('scheduleList#id#');
		bootbox.confirm('#deleteConfirm#'.replace('{0}', sl.options[sl.selectedIndex].text), function (result) {
			if (result) {
				var fileId = $('#scheduleList#id#').value();
				changeScheduleList('#deleteInfoList#'.replace('{0}',sl.options[sl.selectedIndex].text));
				jeedom.cmd.execute({id: '#cmd_delete_id#', notify: true, value : {#argFileId# : fileId}});
			}
		});
	}
});
$('#jqueryLoadingDiv').hide();
</script>
