<div data-cmd_id="#etatId#" style="margin-left:0px;margin-right:0px;text-align:center;xbackground-color:lightgray;display: #etatDisplay#;">
	<img id="setMode#id#" style="cursor:pointer;height:30px;width:30px;" src="plugins/#pluginName#/img/#etatImg#" />
	<span style="display: #etatUntilDisplay#;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<img style="display: #etatUntilDisplay#;height:15px;width:15px;" src="plugins/#pluginName#/img/#etatUntilImg#" />
	<span style="display: #etatUntilDisplay#;color:black;" title="#etatUntilFull#">&nbsp;#etatUntil#</span>
	<br/>
	<span style="font-size:12px;color:black;">#scheduleTitle#</span>
	<select id="scheduleList#id#" style="width:146px;font-size:12px;color:black;">#options#</select>
	<br/>
	<br/>
</div>

