			<a href="#eqLink#" style="font-size:1.1em;color:#TH-color# !important;"><strong>#name_display#</strong></a>
		</div>
	</div>
<div style="height:6px;"></div>
<div class="TH1" style="display:#temperatureDisplay#;">
	<div style="display:inline-flex;">
		<div style="display:#temperatureDisplay2#;">
			<span data-cmd_id="#temperatureId#" class="cmd-widget history cursor TH1s" style="color:#evoTemperatureColor#;">#temperature#</span>
			<img style="display:#deltaDisplay#;margin-top:18px;" title="#deltaValue#" src="plugins/#pluginName#/img/#deltaImg#"/>
		</div>
		<div style="padding-left:4px;">
			<div class="statDelta" style="display:#temperatureDeltaDisplay#" title="#statDeltaTitle#">#statDelta#</div>
			<img style="margin-top:0px !important;#temperatureImgStyle#" title="#temperatureImgTitle#" src="plugins/#pluginName#/img/#temperatureImg#"/>
		</div>
	</div>
</div>

<div class="TH2t" style="display:#consigneDisplay#;background-color:#consigneBG#">
	<img style="display:#presenceDisplay#;height:16px;margin-right:4px;" src="plugins/#pluginName#/img/#presenceImg#"/>
	<span data-cmd_id="#consigneId#" class="zidConsigneVx#zoneId# cmd-widget history cursor TH2d3s1" style="color:#evoConsigneColor#;" title="#consigneTip#">#consigne#</span>
	<span class="zidSpDisplayImgVx#zoneId# TH2d3s2" style="display:#consigneTypeDisplay#;" title="#consigneTypeUntilFull#">
		<img class="zidSpImgVx#zoneId# TH2d3s2i" src="plugins/#pluginName#/img/#consigneTypeImg#"/>
		<span class="zidConsigneTypeUntilVx#zoneId#" style="color:white;">&nbsp;#consigneTypeUntil#</span>
	</span>
</div>

<script type="text/javascript" src="plugins/#pluginName#/core/template/mobile/mobile_min.js?ts=#dashboard_min_js_size#"></script>
<script>
initVarsCommon('#pluginName#',#id#,'#evoBackgroundColor#','#evoCmdBackgroundColor#',#apiAvailable#,'#msgApiUnavailable#','#evoDefaultShowingScheduleMode#','#showHorizontal#','#argZoneId#','#argFileId#',#dashboard_css_size#,'#evoMsgInfo#');
</script>
